@import url('https://fonts.googleapis.com/css?family=Corben:700');

h1 {
	font-family: 'Corben', cursive;
	font-size: 6rem;
	color: white;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

body {
  background-color: #253854;
  min-width: 1140px;
  margin: 0;
  padding: 0;
}

.hero {
	background-image: radial-gradient(50% 176%, #253854 80%, #061922 100%);
  /* min-height: 100vh; */
	min-height: 25rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
}

content {
		position: relative;
		align-self: center;
		padding: 3rem 0;
}


.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

p {
  color: rgb(250, 250, 250);
  font-size: 1.5rem;
  text-align: center;
  margin-top: 1cm;
  display: block;
}

.mala {
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 400px;
  text-align: center;
}

button {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  display: block;
  text-align: center;
  background: #ffffff;
  color: #253854;
  font-weight: bold;
  line-height: 1;
  border-radius: 1em;
  text-decoration: none;
  font-family: var('corben');
  font-size: 1.25rem;
}

.izvadisana {
  display: block;
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
  font-size: 1.5rem;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 20px;
}